section {
    padding: 30px;
    background-color: #F9F9F9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    form {
        label {
        font-size: 1.2em;
        color: #262626;
        font-weight: bold;
    }
        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 12px;
            margin-top: 8px;
            border: 1px solid #ddd;
            border-radius: 8px;
            font-size: 1em;
            color: #444;
        &:focus {
            border-color: #F2A03D;
            box-shadow: 0 0 5px rgba(242, 160, 61, 0.5);
            outline: none;
            }
        }   
        textarea {
            resize: vertical;
        }
    button[type="submit"] {
        background-color: #F2A03D;
        color: #fff;
        font-size: 1.2em;
        padding: 12px 30px;
        border: none;
        border-radius: 25px;
        margin-top: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        &:hover {
            background-color: #BF500F;
            transform: scale(1.05);
            }
        }
    }
}