header {
    background-color: #F2F2F2;
    padding: 15px 0;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .header-container {
        width: 100%;
        padding: 15px;
    }

    .mi-header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        flex-wrap: wrap;

        .logo-contenedor {
            display: flex;
            align-items: center;
            gap: 20px;

            .logo-img {
                height: 150px;
                width: 150px;
            }
        }

        .titulo-header {
            font-size: 50px;
            font-family: "congreso_perros", sans-serif;
            margin: 0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .mi-header {
            h1 {
                margin: 0;
                font-family: "congreso_perros", sans-serif;
                font-size: 50px;
                text-align: center;
                flex: 1;
            }
        }
    }

    nav {
        .btn-secciones {
            background-color: #F2A03D;
            color: #262626;
            font-weight: bold;
            border-radius: 5px;
            padding: 8px 15px;
            text-transform: uppercase;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;

            &:hover {
                background-color: #BF500F;
                color: #fff;
            }

            .icon {
                height: 40px;
                width: 40px;
                margin-left: 10px;
            }
        }

        .dropdown {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
        }

        .dropdown-menu {
            background-color: #F2F2F2;

            &.show {
                display: block;
            }

            display: none;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 5px;
            border-radius: 5px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            width: max-content;
            min-width: 120px;
            text-align: center;

            .dropdown-item {
                color: #262626;

                &:hover {
                    background-color: #F2A03D;
                    color: #fff;
                }
            }
        }
    }

        @include mobile {
            .header-container {
                width: 100%;
                padding: 15px;
                height: 150px;

            }
            

            .logo-img {
                height: 100px;
                width: 100px;
                margin-bottom: -25px;
                margin-top: -35px;
            }

            .titulo-header,
                .mi-header h1 {
                    display: none;
                }
            .btn-secciones {
                padding: 8px 15px;

                .icon {
                    height: 20px;
                    width: 20px;
                    margin-left: 6px;
                }
            }
        }
    }

