.tarjetas-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card-propia {
    width: 90%;
    max-width: 400px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    }

    @include mobile {
      &:active,
      &:focus {
          transform: scale(1.03);
          box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
      }
    }

    .container-propia {
        padding: 16px;
        text-align: center;

        .nombre-mascota {
            font-size: 24px;
            color: #444;
            margin-top: 10px;
            font-weight: 600;
        }

        .descripcion {
            font-size: 16px;
            color: #555;
            margin: 10px 0 20px;
        }

        .boton-adopcion {
            display: inline-block;
            padding: 10px 20px;
            background-color: #F2A03D;
            color: #fff;
            text-decoration: none;
            border-radius: 25px;
            font-weight: bold;
            transition: background-color 0.3s ease, transform 0.2s ease;

            &:hover {
                background-color: #BF500F;
                transform: scale(1.05);
                text-decoration: none;
            }

            &:visited,
            &:focus,
            &:active {
                text-decoration: none;
                color: #fff;
                outline: none;
            }
        }
    }
}
