.text-container {
    width: 45%;
    margin: auto; 
    .text-container h2 {
        text-align: center;
        padding-bottom: 16px;
    }
    .text-container p{
        text-align: justify;
    }
    @include mobile {
        .text-container{
            width: 90%;
            padding: 0 10 px;
        }
        .text-container h2{
            font-size: 1.2em;
        }
        .text-container p{
            font-size: 0.8em;
        }
    }
}