/* Fuentes */
@font-face {
    font-family: "congreso_perros";
    src: url(./font/congreso_perros.ttf) ;
}

@font-face {
    font-family: "montserrat";
    src: url(./font/Montserrat-VariableFont_wght.ttf) ;
}

/* Variables para body*/

$body-margin-x: 20px;
$body-font-family: "montserrat", serif;

body {
    margin-left: $body-margin-x;
    margin-right: $body-margin-x;
    font-family: $body-font-family;
}

/* Adaptacion mobile*/

@mixin mobile {
    @media (min-width: 375px) and (max-width: 767px){
        @content;
    }
}


